/*  CUSTOM PROPS */

:root{
    --header-height:60px;
    --interactive-bar-height:100px;

}



/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */

.debug{
    min-height: 30px;
    min-width: 30px;
    border: 2px solid red;
    padding: 1rem;
    background-color: grey;
}

/* UTILS */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
}

a{
  text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

/* WRAPP */

.wrapper{
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.header{
    height: var(--header-height);
    background-color: black;
    text-align: right;
    padding: 10px;
    
    
}

.cams-container{
    height: calc(100vh - var(--header-height) - var(--interactive-bar-height) );
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    gap: 10px;
    overflow: auto;
}



/* HEADER */

.btn-header{
background-color: grey;
color: whitesmoke;
border-radius: 5px;
padding: 2px;
border: none;
}

/* CAMS */

.cams{
    flex: 200px;
    position: relative;
}

/* FOOTER */

.interactive-bar{
    height: var(--interactive-bar-height);
    background-color:rgb(58, 54, 54);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mic{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 5px 10px;
    background-color: rgba(128, 128, 128, 0.329);
    
}

.media-left,
.media-center{
    display: flex;
    gap: 10px;
    padding: 10px;

}
.icon-left{
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon{
    font-size: 20px;
    text-align: center; 
    
}